
@media screen and (min-width: 1024px) {
    .pizzaContentAll {
        height: auto; /* Змінено на автоматичну висоту */
    }

    .badge {
        top: 1em; 
    }
}


.body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 2em;
}

.pizzaContentAll {
    border: 0.2em solid #ddd;
    margin: 1em;
    margin-top: 2em;
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: left; 
    width: 25rem; 
    height: 50em; 
    overflow: hidden; 
    position: relative;
}

.pizza-img {
    max-width: 100%;
    height: auto;
}

#pizza-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  
    margin: 1em;
}

.textContent {
    text-align: left;
    margin-left: 1em;
    overflow: hidden;
    margin-top: 0;
}

.pizzaTitleClass {
    font-weight: bold;
    font-size: 1.5em; /* Adjusted for better fit */
    color: rgb(255, 132, 0);
    margin-left: 0.6em;
    margin-top: 1em;
    padding: 0;
    margin-bottom: 0;
}

.pizzaTypeName {
    color: rgb(143, 143, 143);
}

.pizza-img {
    width: 100%;
    height: auto;
}

.badge {
    top: 3em;
    position: relative;
    display: inline;
    margin: 5px;
    padding: 5px 10px;
    color: white;
    border-radius: 5px;
    z-index: 1;
    height: 2em;
    text-align: center;
    justify-content: center;
}

.badge-new {
    background-color: green;
    width: 3em;
    left: 24em;
}

.badge-popular {
    background-color: blue;
    width: 5em;
    left: 22em;
}
.specialPizza {
    visibility: hidden;

}
