body {
    background-color: rgb(254, 249, 244);
    font-family: 'Arial', Helvetica;
    padding: 0;
    margin: 0;
}

header {
    background-color: rgba(42, 36, 36, 0.8);
    color: rgb(188, 188, 188);
    padding: 1em;
    margin-right: 0;
    padding-left: 10em;
    padding-top: 10px;
    position: fixed;
    box-sizing: border-box;
    margin-bottom: 2em;

    z-index: 10; /* Збільшення z-index для хедера */
    
    width: 100%;
}
#days,
#freeDelivery{
    font-size: 0.8em;
    margin-top: 1.4em;
}

.header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#headerBadge {
    display: flex;
    position: relative;
    z-index: 2; /* Збільшення z-index для "PizzaKma" */
}

#upperHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    border-bottom: 1px solid rgb(188, 188, 188);
    padding: 0;
    margin-bottom: 10px;
    font-size: 1.3em;
    padding-bottom: 0;

   
}

#upperHeader div {
    display: flex;
    justify-content: space-between;
    gap: 1em;
}

#enterButton {
    background-image: linear-gradient(rgb(235, 185, 105), rgb(241, 149, 0));
    font-weight: bold;
    color: white;
    padding: 3px;
    font-size: 0.8em;
    height: 3.5em;
    width: 8em;
    border: 0;
    border-radius: 0.4em;
    margin-bottom: 0;

    transition: background-image 0.3s ease;
    
}
#enterButton:hover {
    font-weight: bold;
    background-image: linear-gradient(rgb(252, 197, 107), rgb(250, 187, 87));
    cursor: pointer;
}
#phoneNumber{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
header p {
    padding: 0;
    cursor: pointer;
    font-weight: 300; /* Lighter font weight */
}
#PizzaKma {
    background-color: orange;
    color: white;
    text-align: center;
    padding: 0.2em 0.7em;
    font-weight: bold;
    cursor: pointer;
    height: 5em;
    width: 5em;
  
    margin-left: 1em;
    padding-top: 5em;
    z-index: 20;
    position: fixed;
   
   
}




.triangle1 {
    width: 0;
    height: 0;
    border-left: 102.5px solid transparent;
    border-right: 0px solid transparent;
    bottom:-1em; /* Align the bottom edge with the badge */
    border-top: 20px solid orange;
    position: absolute; /* Position the triangle inside the badge */
    left: 0; /* Adjust the left position as needed */
}


.triangle2 {
    width: 0;
    height: 0;
    border-right: 102.5px solid transparent; /* Create the left side of the triangle */
    border-left: 0px solid transparent;
    bottom: -1em; /* Align the bottom edge with the badge */
    border-top: 20px solid orange;
    position: absolute; /* Position the triangle inside the badge */
    right: 0; /* Adjust the right position as needed */
}

#bottomHeader {
    font-size: 1.2em;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-align: left;
   
}


.pizzaContentAll {
    background-color: rgb(255, 255, 255);
    border: 0.2em solid #ddd;
    margin: 2em;
    margin-top: 2em;
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: left; 
    width: auto; 
    height: 65em; 
    overflow: hidden; 
    position: relative;

}
.textContent {
    padding-bottom: 1em;
}
.pizza-img {
    max-width: 100%;
    height: auto;
}

#pizza-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  
    margin: 1em;
    
}

.textContent {
    text-align: left;
    margin-left: 1em;
    overflow: hidden;
    margin-top: 0;
}

.pizzaTitleClass {
    font-weight: bold;
    font-size: 1.5em;
    color: rgb(255, 132, 0);
    margin-left: 0.6em;
    margin-top: 1em;
    padding: 0;
    margin-bottom: 0;
}

.pizzaTypeName {
    color: rgb(143, 143, 143);
}

.pizza-img {
    width: 100%;
    height: auto;
}

.badge {
    top: 3em;
   
    position:relative;
    display: inline;
    margin: 5px;

    padding: 5px 10px;
    color: white;
    border-radius: 5px;
    z-index: 100;
    height: 2em;
    text-align: center;
    justify-content: center;
    font-style: bold;
    font-weight: 100;
    z-index: 1;
}

.badge-new {
    background-color: rgb(245, 52, 52);
    width: 3em;
    left: 27em;
    

}

.badge-popular {
    background-color: rgb(26, 181, 26);
    width: 5em;
    left: 24em;
    font-style: bold;
}

.specialPizza {
    visibility: hidden;
}
@media  screen and (max-width: 1000px) {
    #PizzaKma {
        height: 6em; /* Adjust height for smaller screens */
    }

}

footer{
    background-image: linear-gradient(rgb(232, 230, 230), rgb(195, 190, 190), rgb(141, 139, 139));
    height: 5em;
    display: flex;
    text-align: center;
    text-indent: 3em;
    justify-content: center;
    color: rgb(68, 67, 67);

    padding: 5em;

}
